<p id="notice"><%= notice %></p>

<p>
  <%= @post.title %>
</p>
<p>
  <%= @post.category.name %>
</p>
<p>
  <strong>Автор</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Статья</strong>
  <%= @post.content.html_safe %>
</p>

<%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>

<% if user_signed_in? %>
  <%= link_to 'Изменить', edit_post_path(@post) %> |
<% end %> |
<%= link_to 'Назад', posts_path %>
<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>
<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<h2>Написать комментарий</h2>

<% if user_signed_in? %>
  <%= render "comments/form" %>
<% else %>
  <p>Пожалуйста <%= link_to 'войдите в ситему', new_user_session_path %> или <%= link_to 'зарегистрируйтесь', new_user_registration_path %>, чтобы оставить комментарий.</p>
<% end %>


<h2>Комментарии</h2>
<%= render @post.comments %>
