<!DOCTYPE html>
<html>
  <head>
    <title>Shmot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body>
    <div class="top_menu">
      <% Category.where(display_in_navbar: true).each do |cat| %>
      <%= link_to cat.name, posts_path(category: cat.name) %> |
      <% end %>|
      <% if user_signed_in? %>
        <%= link_to 'Aккаунт', edit_user_registration_path %> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path %> | <%= link_to 'Зарегистрироваться', new_user_registration_path %>
      <% end %>
    </div>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
